# /etc/systemd/system/envoy-db.service 

[Unit]
Description=Envoy Proxy for DB Service
After=network.target consul.service
Requires=consul.service

[Service]
ExecStart=/usr/local/bin/envoy -c /etc/consul.d/envoy-db.yaml
Restart=always
RestartSec=5
User=envoy
Group=envoy

[Install]
WantedBy=multi-user.target